@charset "UTF-8";

.slider {
    width: 80%;
    overflow: hidden;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 50px;
}

.slider-container {
    display: flex;
    width: calc(100% * 11); /* 원래 슬라이드 수 + 2 (복제) */
    transition: transform 1s ease-in-out;
}

.book {
    width: 200px;
    margin: 0 10px;
    transition: transform 1s ease, opacity 1s ease;
}

.book.active {
    transform: scale(1.5);
    opacity: 1;
}

.book.inactive {
    opacity: 0.5;
}

#book_1_name {
    width: 100%;
    margin-top: 50px;

}

.fixed-button {
    /* position: fixed;
    bottom: 70px;
    margin-left: 44%; */
    background-color: rgb(165, 224, 144);
    color: rgb(90, 121, 78);
    border: none;
    border-radius: 10px;
    width: 210px;
    height: 60px;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.slider img {
    margin-left: 100px;
    margin-top: 80px;
}

.mid_for_you{
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    color: rgb(109, 153, 93);
    padding-top: 20px;
    border-top: 2px solid #ccc;
}

#mid_in_for_you{
    margin-top: 50px;
    font-size : 20px;
    color: black;
}

#mid_box{
    border: 2px solid rgb(115, 149, 102);
    height : 60px;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(165, 224, 144);
    color: rgb(79, 102, 70);
    width: 100%;
}

#img_box img{
    margin-left: 150px;
    margin-top: 50px;
    width: 250px;
    height: 400px;
}

.top_for_you{
    border-bottom: 2px solid #ccc;
    padding: 25px 0;
}

#top_box{
    margin-top: 60px;
}

@charset "UTF-8";
#wrap{
    font-size: 0;
    padding: 30px 150px;
    text-align: center;
    margin-bottom: 50px;
	/* border: 1px solid red; */
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5%;
    background: rgb(165, 224, 144);
    border: 1px solid rgb(106, 170, 82);
    font-size: 15px;
    cursor: pointer;
}

#menu #items #i0{
    font-weight: 900;
    text-decoration: underline;
}  

#parent{
    width: 100%;
    margin-top: 30px;
}

#top_logo{
    width: 100%;
    height: 150px;
    text-align: center;
    
}
#top_logo_img{
    width:200px;
    height: 150px;

}

#top_box {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size :16px;
    width: 50%;
    margin-top: 20px;
}

.top_for_you{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    color: rgb(109, 153, 93);
}

#top_in_for_you{
    margin-top: 20px;
    font-size : 18px;
    color: rgb(83, 83, 83);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    font-size: 15px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.popup-header h2 {
  margin: 0 auto;
}
.popup-close {
  cursor: pointer;
}

#bookall{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.book img{
  margin-bottom: 15px;
}

.book .btn{
  display: flex;
  justify-content: space-evenly;
}

.review{
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: white;
}

.review textarea{
  margin: 10px 0;
  width: 90%;
  height: 80%;
  border: 1px solid #ccc;
  resize: none;
}
