@charset "UTF-8";



#wrap{
    /* border: 1px solid red; */
    text-align: center;
    padding: 50px 150px;
}

#wrap #search{
    font-size: 0;
}

#searchResult{
	font-size: 22px;
	font-weight: 900;
	text-align: left;
	margin-bottom: 20px; 
	padding-left: 45px;
}

#wrap #search #searchText{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

#wrap #search #searchIn{
    font-size: 18px;
    height: 50px;
    width: 85%;
    padding-left: 5px;
}

#wrap #search #searchBnt{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 56px;
    width: 56px;
    border: none;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.867);
    background-color: rgb(106, 170, 82);
    cursor: pointer;
}

.searchEnd{
    padding: 0 50px;
    margin-top: 30px;
}

.searchEnd .books{
	padding: 0 50px;
}

.searchEnd .books table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #ccc;
    padding: 0 15px;
}

.searchEnd .books table td{
	padding: 5px 12px;
    text-align: left;
}


.searchEnd .books table .bookBnt{
    text-align: center;
    width: 130px;
    padding-top: 130px;
}

.searchEnd .books table .imge{
    width: 150px;
}

.searchEnd .books table img{
    width: 100%;
}

.searchEnd .books table .bookBnt [type=button]{
    font-size: 18px;
    padding: 7px 15px;
    margin: 5px 0;
    border-radius: 5%;
    background: rgb(165, 224, 144);
    border: 1px solid rgb(106, 170, 82);
    cursor: pointer;
}

.searchEnd .books table .bookBnt .reserBnt{
    background: white;
    border: 1px solid rgb(106, 170, 82);
}

.searchEnd .books table .best{
    vertical-align: bottom;
    width: 580px;
}

.searchEnd .books table .best span{
    border: 2px solid rgb(106, 170, 82);
    color: rgb(99, 109, 95);
    border-radius: 10%;
    padding: 3px 6px;
    font-size: 14px;
}

.searchEnd .books table .bookTitle{
	padding-top: 25px;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
}

.searchEnd .books table .information{
    height: 170px;
    vertical-align: top;
}

.searchEnd .books table .information .wirter{
    color: gray;
    font-size: 15px;
    line-height: 25px;
}

.searchEnd .books table .information .review{
	color: rgb(65, 65, 65);
    margin-top: 10px;
}

.searchEnd .books table .bookInfo{
    padding: 0 10px 10px 0;
}

.searchEnd .books table .material-symbols-outlined {
    vertical-align: top;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


.searchEnd .books .realInven{
   font-size: 15px;
}

.searchEnd .books .realInven span{
    font-size: 21px;
    margin-left: 3px;
    color: rgb(106, 170, 82);
    font-weight: 900;
}



