

#wrap{
    border: 1px solid red;
    text-align: center;
    padding: 50px 150px;
}

#wrap #search{
    font-size: 0;
}

#wrap #search #searchText{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

#wrap #search #searchIn{
    font-size: 18px;
    height: 50px;
    width: 85%;
    padding-left: 5px;
}

#wrap #search #searchBnt{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    border: 1px solid 106, 170, 82;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.867);
    background-color: rgb(106, 170, 82);
}

.searchEnd{
    padding: 0 50px;
    margin-top: 30px;
}

.searchEnd .books table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    border-bottom: 2px solid #ccc;
}

.searchEnd .books table td{
    text-align: left;
    padding-left: 20px;
}


.searchEnd .books table .bookBnt{
    text-align: center;
    width: 150px;
}

.searchEnd .books table img{
    width: 180px;
}

.searchEnd .books table .bookBnt [type=button]{
    font-size: 18px;
    padding: 7px 15px;
    margin: 5px 0;
    border-radius: 5%;
    background: rgb(165, 224, 144);
    border: 1px solid rgb(106, 170, 82);
}

.searchEnd .books table .bookBnt .invenBnt{
    background: white;
    border: 1px solid rgb(106, 170, 82);
}

.searchEnd .books table .best{
    vertical-align: bottom;
    width: 580px;
}

.searchEnd .books table .best span{
    border: 2px solid rgb(106, 170, 82);
    color: rgb(99, 109, 95);
    border-radius: 10%;
    padding: 2px 5px;
}

.searchEnd .books table .bookTitle{
    font-size: 20px;
    font-weight: 900;
    height: 50px;
}

.searchEnd .books table .information{
    height: 170px;
    vertical-align: top;
}

.searchEnd .books table .information .wirter{
    color: gray;
}

.searchEnd .books table .information .review{
    margin-top: 20px;
}

.searchEnd .books table .bookInfo{
    padding: 0 10px 10px 0;
}

.searchEnd .books table .material-symbols-outlined {
    vertical-align: top;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.searchEnd .books .inven{
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(51, 51, 51);
    width: 400px;
    text-align: left;
    position: absolute;
    bottom: 200px;
    left: 500px;
    z-index: 100;
    display: none;
}

.searchEnd .books .inven .invenLibrary{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.searchEnd .books .inven .invenLibrary .library{
    font-size: 18px;
    font-weight: 900;
}

.searchEnd .books .inven .invenLibrary .addr,
.searchEnd .books .inven .invenLibrary .call{
    font-size: 13px;
    color: gray;
    display: inline-block;
    margin-right: 7px;
}

.searchEnd .books .inven .invenLibrary .material-symbols-outlined{
    vertical-align: bottom;
    font-size: 13px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.searchEnd .books .inven .invenLibrary .realInven{
   margin-top: 5px; 
   margin-left: 15px;
   font-size: 17px;
}

.searchEnd .books .inven .invenLibrary .realInven span{
    font-size: 21px;
    margin-left: 3px;
    color: red;
    font-weight: 900;
}

.searchEnd .books .inven .close{
    text-align: right;
    margin-top: 15px;
    margin-right: 15px;
}

.searchEnd .books .inven .close .material-symbols-outlined{
    font-size: 26px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
