
            
        header #menu #items .item{
            /* border: 1px solid red; */
            font-size: 20px;
            margin: 0 20px;
            display: inline-block;
        }



/* ---------------------------------------------------- */
        .main_page {
            /* border: 1px solid red; */
            display: inline-block;
            height: 600px;
            width: 100%;
            text-align: center;
            vertical-align: top;

            /* position: relative;
            top: -200px; */
        }

        #main_title {
            /* border: 1px solid red; */
            display: inline-block;
            /* width: 800px;
            height: 50px; */
            /* font-size: 30px;
            font-weight: 1000; */
            /* position: relative; */
            font-size: 22px;
        }