@charset "UTF-8";



 table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

.label {
    font-weight: bold;
    /* background-color: #f9f9f9; */
}

input[type="text"],
input[type="password"],
select {
    width: 200px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.red {
    color: red;
    font-size: 0.9em;
    display: none;
}

#seob {
    display: inline-block;
}

.gaip {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.gaip input,
#gaip_1 {
    background: rgb(165, 224, 144);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    vertical-align: top;
}

.gaip input[type="button"]:hover {
    background: rgb(138, 187, 120);
}

.email-domain {
    display: inline-block;
    margin: 0 5px;
}

.container select {
    width: 30%;
    margin-right: 5px;
    width: 100px;
}
.name{
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 17px;
    box-sizing: border-box;
    margin: 25px 0;
}


#ess{
	text-align: right;	
	margin-bottom: 10px;
}

span{
	color: red;
}

#gaip_1 {
    margin-bottom: 100px;
    margin-top: 30px;
}

#hg {
    padding: 30px 150px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;

}