

#infor_top_box h1{
    font-size: 22px;
    margin: 0;
}

#infor_top_box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 22px;
}

#infor_img{
    margin-top: 20px;
    width:100%;
}

#infor_table{
    font-size: 17px;
    margin-top : 50px;
}

#daumRoughmapContainer1721612623091{
    margin-top: 50px;
}

#info_map_addr{
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 0 30px 10px 30px;
    border-radius: 10px;
}

#infor_adress {
    margin-top: 20px;
}

.addr,
.call{
    font-size: 15px;
    display: inline-block;
    margin: 0 7px;
}

#infor_adress .material-symbols-outlined{
    vertical-align: bottom;
    font-size: 15px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

section{
    padding-right: 30px;
}

#menu #items #i1{
    font-weight: 900;
    text-decoration: underline;
}  
