@charset "UTF-8";

#wrap section #content_all{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 22px;
    padding: 15px;
}

aside #items #i1 .material-symbols-outlined{
    background: rgb(165, 224, 144);
}

section .name{
    text-align: left;
    font-size: 25px;
    box-sizing: border-box;
    margin-top: 10px;
}

section .name .mini_name{
    font-size: 14px;
    margin-bottom: 10px;
}

section .name #mini{
	margin-top: 15px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
}

section .name .mini_date{
    font-size: 14px;
    margin-right: 8px;
}

section #content{
    text-align: left;
    padding: 30px 0;
    font-size: 16px;
    padding-left: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

section #content #file{
    text-align: right;
    font-size: 15px;
    margin: 10px 0 20px 0;
}

section #content #file .material-symbols-outlined {
    font-size: 20px;
    vertical-align: bottom;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

section #content img{
    width: 92%;
}

/* 목록으로 이동 */
#back{
    border-top: 1px solid #ccc;
    text-align: right;
    margin-bottom: 50px;
}

#back input[type="button"] {
    margin-top: 25px;
    background: rgb(165, 224, 144);
    border: 1px solid rgb(106, 170, 82);
    border-radius: 5%;
    padding: 8px 15px;
    font-size: 15px;
}

#notititle{
	font-size: 20px;
	font-weight: 900;
	width: 80%;
}

textarea{
	width: 98%;
	height: 200px;
}