@charset "UTF-8";
 .container {
            width: 300px;
            margin: 0 auto;
            padding: 100px; 
            background-color: white;
            border-radius: 10px; 
            height: 450px;
        }

        .title {
            text-align: center;
            font-size: 24px;
        }

        .input-group {
            position: relative;
            margin-bottom: 15px;
        }

        .input-group img {
            position: absolute;
            left: -40%;
            top: 50%;
            transform: translateY(-50%);
            width: 100px;
            height: 120px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        .login-btn {
            width: 100%;
            padding: 10px;
            background: rgb(165, 224, 144);
            border: 1px solid rgb(106, 170, 82);
            border-radius: 5px;
            cursor: pointer;
        }

        .login-btn:hover {
            background-color: rgb(140, 199, 119);
        }

        .idpw {
            text-align: center;
            margin-top: 10px;
        }

        .idpw input[type="button"] {
            padding: 10px 20px;
            margin: 20px 0;
            background: white;
            border: 1px solid rgb(106, 170, 82);
            color: black;
            border-radius: 5px;
            cursor: pointer;
            font-size: 13px;
        }

        .idpw input[type="button"]:hover {
            background-color: #ececec;
        }