@charset "UTF-8";

#i2 .material-symbols-outlined {
	background-color: rgb(165, 224, 144);
}

#menu #items #i5 {
	font-weight: 900;
	text-decoration: underline;
}

#wrap {
	height: 600px;
}
/* --------------------- */
	section h3 {
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
	font-size: 22px;
	padding: 17px;
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	margin-bottom: 20px;
	font-size: 13px;
}

table thead {
	background-color: #f0f0f0;
}

table thead th {
	padding: 10px;
	border: 1px solid #ddd;
	font-weight: bold;
}

table tbody td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}

input[type="checkbox"] {
	cursor: pointer;
}

.click {
	text-align: center;
	margin-top: 20px;
}

.click button {
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #ddd;
	background-color: #f0f0f0;
	margin-right: 10px;
}

.click button:hover {
	background-color: #e0e0e0;
}